body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:blueviolet;
    
}
.index {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: brown;
}

.index11{
    display: flex;
    flex-direction: row;
    gap: 5px; 
}
.index22{
    display: flex;
    flex-direction: row;
    gap: 5px; 
}
.index33{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.board{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto; 
    /* background-color:rgb(221, 61, 218); */
}
.button1{
    font-size: 7px;
    width: 40px;
    margin: auto;
    border: 0;
    margin-top: 3px;
    border-radius:5px;
}
